/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;

}

body{
    margin: 0 15%;
}

/* Header */

header{
    text-align: center;
    padding: 50px 0;
}

h1{
    color: rgb(255, 5, 109);
    margin-bottom: 60px;
    font-size: 50px;
}

header p{
    font-size: 22px;
}

/* Main */


.conteiner{
    display:flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

.item{
    margin: 20px;
    width: calc(100% / 3 - 40px);
}


.box{
    background-color: black;
    height: 130px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
}

.box .photo{
    height: 100%;
}

.box .references{
    color: white;
    padding: 0 20px;
    font-size: 20px;
    line-height: 33px;
}

.name{
    font-size: 1.2em;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color:rgb(128, 210, 245);
}

.photo img{
    height: 100%;
}

/* Responsive */

@media screen and (max-width: 1750px) {
    
    .item{
        width: calc(100% / 2 - 40px);
    }


}


@media screen and (max-width: 1190px) {
    
    .item{
        width: calc(100% / 1 - 40px);
    }


}