/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;

}

body{
    margin: 0 15%;
}

/* Header */

header{
    text-align: center;
    padding: 50px 0;
}

h1{
    color: rgb(255, 5, 109);
    margin-bottom: 60px;
    font-size: 50px;
}

header p{
    font-size: 22px;
}